img {
    width: 259px;
    float: right;
    border-radius: 20px;
}

body {
    background-color: #FBC40E;
}

h1 {
    color: #343F71;
    text-transform: uppercase;
}

.right {
    margin-left: 400px;
    margin-top: -140px;
}

.side-by-side {
    color: #F34C19;
}

h3 {
    color: #F34C19;
}

a {
    text-decoration: none;
    color: #E9D8E4;
}

main {
    margin-left: 8px;
}

body {
    margin: 0px;
}

div.Harvesting, div.Drying, div.Cracking {
    margin-bottom: 200px;
}

.important {
    color: #343F71;
    text-transform: uppercase;
}